@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/font_files/ProximaNova-Regular.otf') format('opentype');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {font-family: 'ProximaNova';
    src: url('/assets/font_files/ProximaNova-Regular.otf') format('otf');
  }
}

$text: helvetica;
